<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>GIKAM</title>
</head>
<body>
    <div id="container">

        <div id="account_info">

            <p id="username"><%= username %></p>

            <a href="/<%= link %>" id="a_log" ><%= logged_status %></a>
            <a href="/" id="a_log">HOME</a>

        </div>

        <div id="navbar">
            <h1>GIKAM</h1>    
        </div>

        <br>

        <h3 id="h3_error"><%= error_h3 %></h3>
        
        <div id="create_post">
            <form action="/create_post" method="post">

                <label for="title">Title</label>
                <br>
                <input type="text" name="title" id="create_post_title">
                <br>
                <label for="content">Content</label>
                <br>
                <textarea name="content" cols="40" rows="5" id="create_post_content"></textarea>
                <br><br>
                <input type="submit" value="Create post">
            </form>
        </div>
    </div>
</body>
</html>