<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_user.css">
    <link rel="stylesheet" href="/style_voting.css">

    <script defer>
        let selected = 'overview'
        let user = '<%= username %>';
        let last = 0
    </script>

    <script defer src="/user.js"></script>

    <title>Gikam</title>
</head>
<body>
    <div id="container">

        <div id="navbar">

            <div id="buttons">
                <p onclick="overview_load()">OVERVIEW</p>
                <p onclick="posts_load()">POSTS</p>
                <p onclick="user_comments()">COMMENTS</p>

                <a href="/" id="a_log">HOME</a>
                <a href="/<%= link %>" id="a_log"><%= logged_status %></a>

            </div>

        </div>

        <div id="profile_data">

            <div id="overview">
                <!-- HERE ARE POSTS OF CERTAIN USER -->
            </div>

            <div id="account_info">

                <div id="account_background">
                    <img src="https://media.discordapp.net/attachments/773904529971871765/1084443708923056188/1Ep5kwsS4nQ.png">
                </div>

                <h2 id="username"><%= username %></h2>
    
            </div>

        </div>

        <br>

    </div>
</body>
</html>