<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_user.css">
    <title>Gikam</title>
</head>
<body>
    <div id="container">

        <div id="navbar">

            <div id="buttons">
                <p>OVERVIEW</p>
                <p>POSTS</p>
                <p>COMMENTS</p>

                <a href="/" id="a_log">HOME</a>
                <a href="/<%= link %>" id="a_log"><%= logged_status %></a>

            </div>

        </div>

        <div id="profile_data">

            <div id="overview">
                <!-- HERE ARE POSTS OF CERTAIN USER -->
            </div>

            <div id="account_info">

                <div id="account_background">
                    <img src="https://media.discordapp.net/attachments/773904529971871765/1084443708923056188/1Ep5kwsS4nQ.png">
                </div>

                <h2 id="username"><%= username %></h2>
    
            </div>


        </div>

        <br>

        <script>

        // <div id="post">
        //     <h2>Title</h2>
        //     <p>autghor</p>
        //     <p>Lorem ipsum rem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
        // </div>

            let last = 0

            start()
            async function start() {
                let user = '<%= username %>';
                let posts = await fetchposts(user)

                for (let index = 0; index < posts.length; index++) {
                    const element = posts[index];

                    let node = document.createElement("div");
                    node.id = 'post'

                    node.innerHTML = `
                        <h2>${element.title}</h2>
                        <p>${element.content}</p>
                    `
                    document.getElementById("overview").appendChild(node);
                    console.log(element)
                }
            }
            
            function fetchposts(user) {
                return new Promise((resolve,reject) => {
                    console.log(user)
                fetch(`/api/activity?user=${user}`, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                    },
                }).then(response => {
                    return response.text();
                    }).then(function(data) {
                        resolve(JSON.parse(data)); 
                    });
                })
            }

        </script>

    </div>
</body>
</html>