<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="container">

        <div id="account_info">

            <p id="username"><%= username %></p>

            <form action="/<%= link %>" method="post">
                <input type="submit" value="<%= logged_status %>">
            </form>

        </div>

        <div id="navbar">
            <h1>Makig Forum</h1>    
        </div>

        <br>
        
        <div id="create_post">
            <form action="/create_post" method="get">
                <input type="submit" value="Create post">
            </form>
        </div>

        <div id="posts">
            <!-- HERE ARE ADDED POSTS -->
        </div>

        <script>

        // const node = document.createElement("li");
        // const textnode = document.createTextNode("Water");
        // node.appendChild(textnode);
        // document.getElementById("myList").appendChild(node);


        // <div id="post">
        //     <h2>Title</h2>
        //     <p>autghor</p>
        //     <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum  Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>


        // </div>

            let last = 0

            start()
            async function start() {
                let now = Date.now()
                let posts = await fetchposts(now)

                for (let index = 0; index < posts.length; index++) {
                    const element = posts[index];

                    let node = document.createElement("div");
                    node.id = 'post'

                    node.innerHTML = `
                        <h2>${element.title}</h2>
                        <p>${element.author}</p>
                        <p>${element.content}</p>
                    `

                    document.getElementById("posts").appendChild(node);

                    console.log(element)
                }
            }
            
            function fetchposts(before) {
                return new Promise((resolve,reject) => {
                    console.log(before)

                fetch(`/api/posts?before=${before}`, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                    },
                }).then(response => {
                    return response.text();
                    }).then(function(data) {
                        resolve(JSON.parse(data)); 
                    });
                })
            }

        </script>

    </div>
</body>
</html>