body {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

a {
    all: unset;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    border: 1px solid black;
}

#navbar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-top: 5px;
}

#create_post {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#post {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding-left: 10px;
    overflow: hidden;
}

#account_info {
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
}

#username {
    float: left;
    margin: 0px;
    margin-left: 25px;

}


#login_form {
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 600px;
    border: 1px solid black;

}

#loginh2 {
    text-align: center;
}

#login_error_h3 {
    text-align: center;
    color: rgb(218, 17, 17);
}

#h3_error {
    text-align: center;
    color: rgb(218, 17, 17);
}

#login_complete_h3 {
    text-align: center;
    color: rgb(30, 211, 13);
}

#create_post_content {
    height: 200px;
    width: 400px;
    resize: none;
}

#create_post_title {
    width: 200px;
}

#create_post_button {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px black;
    cursor: pointer;
    background-color: rgb(119, 202, 202);
}

#create_post_button:hover {
    background-color: rgb(158, 157, 157);
}

#author_link {
    cursor: pointer;
}

#author_link:hover {
    text-decoration: underline;
}

#a_log {
    float: right;
    margin: 5px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px black;
}

#a_log:hover {
    background-color: rgb(158, 157, 157);
    cursor: pointer;
}

#namewagikam {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.color_red {
    background-color: rgb(190, 62, 62);
}