body {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    border: 1px solid black;
}

#navbar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-top: 5px;
}

#create_post {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid black;
}

#post {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding-left: 10px;
}

#account_info {
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
    
}

#username {
    float: left;
    margin: 0px;
    margin-left: 25px;

}

#account_info form {
    float: right;
    margin-right: 25px;
}

#login_form {
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 600px;
    border: 1px solid black;

}

#loginh2 {
    text-align: center;
}

#login_error_h3 {
    text-align: center;
    color: rgb(218, 17, 17);
}

#login_complete_h3 {
    text-align: center;
    color: rgb(30, 211, 13);
}

#create_post_content {
    height: 50px;
    width: 200px;
}

#create_post_title {
    width: 200px;
}