body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: #030303;
}

a {
    all: unset;
}

#navbar_top {
    width: 100%;
    border: solid 1px black;
    background-color: rgb(26 26 27);
}

#navbar {
    display: flex;
    width: 900px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#left {
    display: flex;
    margin-left: 50px;
    color: white;
}

#left:hover{
    cursor: pointer;
}

#right {
    display: flex;
    margin-right: 50px;
    color: white;
}

#a_button_right {
    float: right;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px rgb(255, 255, 255);
}

#a_button_right:hover {
    background-color: rgb(158, 157, 157);
    cursor: pointer;
}

#container {
    margin-top: 40px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    border-radius: 5px;
    color: white;
    background-color: rgb(26 26 27);
}

#creating_post {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#navbar_post {
    height: 45px;
    display: flex;
    width: 100%;
    border: solid 2px rgb(65, 65, 65);
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: rgb(26 26 27);
}

#title_area {
    width: 580px;
    height: auto;
    font-size: x-large;
    resize: none;
    min-height: 25px;
    padding: 10px;
    overflow: hidden;
    overflow-x: hidden; 
    overflow-wrap: break-word;
    color: white;
    background-color: rgb(26 26 27);
}

#text_area {
    width: 580px;
    font-size: large;
    resize: vertical;
    height: 225px;
    padding: 10px;
    overflow: hidden;
    overflow-x: hidden; 
    overflow-wrap: break-word;
    margin-top: 5px;
    color: white;
    background-color: rgb(26 26 27);
}

#button_ {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border: solid rgb(128, 128, 128) 2px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
}

#button_:hover {
    background-color: rgb(49, 49, 49);
    color: white;
}

#dropzone {
    margin-top: 5px;
    width: 600px;
    height: 200px;
    border: 2px dashed rgb(143, 143, 143);
    border-bottom: none;
    text-align: center;
    line-height: 200px;
    cursor: pointer;
}

#dropzone:hover {
    background-color: rgb(73, 73, 73);
}

#display_dropped img {
    padding: 10px;
    width: 580px;
    border: 2px solid black;
}

#footer_of_post_element {
    display: flex;
    width: 100%;
    background-color: rgb(26 26 27);
    color: rgb(158, 158, 158);
    margin-bottom: -5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid 2px rgb(104, 104, 104);
}

#navbar_of_post_element {
    margin-top: 10px;
    display: flex;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: solid 2px rgb(255, 255, 255);
}

#orange {
    padding: 5px;
    background-color: rgb(238, 179, 69);
    border-radius: 5px;
    margin: 5px;
}

#red {
    padding: 5px;
    background-color: rgb(236, 63, 63);
    border-radius: 5px;
    margin: 5px;
}

#image {
    margin-top: 15px;
}

#submit_button {

    margin-top: 15px;
    width: 100%;
    justify-content: center;
    display: flex;
    /* border: 1px solid black; */
}

#submit_b {
    font-family: Trebuchet MS;
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(233, 101, 54);
    text-align: center;
    width: 400px;
    border-radius: 20px;
    margin: 5px;
    margin-left: 0;
    cursor: pointer;
}

#submit_b:hover {
    background-color: rgb(138, 66, 40);
}

#submit_errors {
    margin-top: 10px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: red;
}