body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: #030303;
}

#voting {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: white;
}

#upvotebox {
    margin: 8px;
}
#downvotebox {
    margin: 8px;
}
#upvotebox {
    cursor: pointer;
}

#upvotebox:hover {
    background-color: rgb(241, 241, 241);;
}

#countbox {
    text-align: center;
}

#downvotebox {
    cursor: pointer;
}

#downvotebox:hover {
    background-color: rgb(241, 241, 241);;
}


a {
    all: unset;
}

#navbar_top {
    width: 100%;
    border: solid 1px black;
    background-color: rgb(26 26 27);
}

#navbar {
    display: flex;
    width: 900px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#left {
    display: flex;
    margin-left: 50px;
    color: white;
}

#left:hover{
    cursor: pointer;
}

#right {
    display: flex;
    margin-right: 50px;
    color: white;
}

#a_button_right {
    float: right;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px rgb(255, 255, 255);
}

#a_button_right:hover {
    background-color: rgb(158, 157, 157);
    cursor: pointer;
}
#container {
    margin-top: 40px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    border-radius: 15px;
}

#author_link {
    cursor: pointer;
}

#author_link:hover {
    text-decoration: underline;
}

#container_navbar {
    display: flex;
    background-color: rgb(26 26 27);
    border-radius: 15px;

}

#post_content {
    margin-left: 40px;
    margin-right: 40px;
    color: white;
}

#author_p {
    margin-left: 15px;
    margin-top: 35px;
    color: white;
}

#ifloggedaddcomment h2{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: red;
}

#add_commment{
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 900px;
    border:solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
}

#submit {
    margin: 0;
    margin-left: 20px;
    border: solid 1px black;
    padding: 12px;
    border-radius: 5px;
    height: 22px;
    background-color: rgb(26 26 27);
}

#submit:hover {
    background-color: rgb(88, 88, 97);
    cursor: pointer;
}

#comment_content {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 600px;
    padding: 10px;
    height: 20px;
    border-radius: 5px;
    resize: none;
    font-size: large;
    overflow: hidden;
    overflow-x: hidden; 
    overflow-wrap: break-word;

    background-color: rgb(26 26 27);
    color: white;
}

#comments {
    border: solid 1px black;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(26 26 27);
    margin-bottom: 50px;
}

#comment {
    border-left: solid 1px rgb(145, 145, 145);
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.replie {
    border-left: solid 1px rgb(98, 98, 102);
    margin-left: 20px;
}

#conte {
    margin-top: 10px;
}

#conte_2 {
    margin-top: -28px;
    margin-left: 50px;
}

#conte_2 span{
    white-space: pre-wrap;
}

#nav_com {
    display: flex;
}

#replybutton {
    margin-top: 32px;
    border-radius: 5px;
    margin-left: 10px;
    width: 35px;
    font-size: 15px;
    height: 20px;
    padding: 0;
}
#replybutton p {
    margin-top: 1px;
    margin: 0;
    margin-left: 2px;
}

#replybutton:hover {
    background-color: rgb(158, 157, 157);
    color: black;
    cursor: pointer;
}

#reply_content {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    margin-left: 20px;
    width: 405px;
    height: 80px;
    border-radius: 5px;
    resize: vertical;
    font-size: large;
    background-color: rgb(26 26 27);
    border: solid 1px rgb(80, 80, 85);
}

#justflex {
    display: flex;
}

#closetextare {
    text-align: center;
    margin: 0;
    margin-left: 10px;
    border: solid 1px rgb(94, 94, 100);
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    width: 40px;
}

#closetextare:hover{
    background-color: rgb(219, 93, 93);
    color: black;
    cursor: pointer;
}

#submitreply {
    margin: 0;
    margin-left: 20px;
    border: solid 1px rgb(94, 94, 100);
    padding: 8px;
    border-radius: 5px;
    width: 340px;
}

#submitreply:hover {
    background-color: rgb(174, 221, 120);
    color: black;
    cursor: pointer;
}

#post_content {
    margin-top: 10px;
    white-space: pre-wrap;
    margin-bottom: 20px;
    margin-left: 0;
}

#makeit {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

#title {
    margin-top: 7px;
}

/* .spoiler {
    color: rgb(170, 120, 26);
    text-shadow: 4px 2px 2px #000, -2px -1px 0 #000, 1px -4px 2px #000, -1px 1px 0 #000;
} */

span.spoiler {
    color: white;
    padding: 0 4px;
}
  
span.spoiler:hover {
    color: white;
    background-color: initial;
}

span.nsfw {
    color: white;
    padding: 0 4px;
}
  
span.nsfw:hover {
    color: white;
    background-color: initial;
}

#image img {
    max-width: 745px;
    padding-right: 7px;
}